src/*/Release/*
*.user
src/*/bin/*
src/*/bin(x64)/*
*.sdf
src/*/Debug/*
*.opensdf
*.suo
src/*/build/*/*/*
!src/HappyTests/build/HappyTemplateProject/*.user
src/HappyTools/*/Debug/*
src/HappyTools/*/Release/*
src/HappyTools/*/bin/*
src/HappyTools/*/bin(x64)/*
src/HappyTools/*/build/*/*
*.ipch
src/3thParty/dll/*
src/3thParty/lib/*
src/3thParty/installers/7zs/*.7z
src/3thParty/installers/7zs/*/*
src/build_install/*
*.idea/
