@import url("no-theme/jquery-ui-1.10.4.custom.css");

@font-face {
    font-family: 'OpenSansRegular';
    src: url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body
{
    margin: 0;
    padding: 0;

    font: normal 12px OpenSansRegular,sans-serif;
    color: #666;

    overflow: hidden;

    background-color: transparent;

    -webkit-user-select: none;
    -webkit-user-drag: none;
}

a
{
    color: #333;
}

a.tip span
{
    display: none;
}

a.tip:hover span
{
    PADDING: 2px 2px 2px 2px;
    DISPLAY: block;
    Z-INDEX: 100;
    LEFT: 0px;
    MARGIN: 20px;
    WIDTH: 150px;
    POSITION: absolute;
    TOP: 10px;
    TEXT-DECORATION: none;

    background: #eee;
    border: solid 1px #bbb;
    color: #555;
    font-size: 12px;
}

#graph
{
    background: -webkit-gradient(linear, left top, left bottom, from(#cdcdcd), to(#a5a5a5));
    color: snow;
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
} 

.node
{
    margin: 0px;
    padding: 2px;
    left : 64px;
    top : 64px;
    width : "128px";
    height : "64px";

    overflow: hidden;
    text-align: center;

    background: -webkit-gradient(linear, left top, left bottom, from(#cd0000), to(#a50000));

    border: 1px solid #222;

    -webkit-border-radius: 4px;
}

.ui-selecting
{
    background: -webkit-gradient(linear, left top, left bottom, from(#cdcd00), to(#a5a500));
}

.ui-selected
{
    background: -webkit-gradient(linear, left top, left bottom, from(#cdcd00), to(#a5a500));
}

.ui-unselecting
{
    background: -webkit-gradient(linear, left top, left bottom, from(#cda500), to(#a58800));
}

