@import url("dot-luv/jquery-ui-1.9.2.custom.css");

body
{
    position: fixed;
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    font: normal 12px OpenSansRegular,sans-serif;
    color: #666;

    overflow: hidden;

    background-color: #666;
    box-sizing:border-box;
    border: 5px solid #cd0a0a;

    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.fullTable
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#imageCell
{
    background-color: #0b3e6f;
    box-sizing:border-box;
    border: 5px inset #0d3349;
    background: #0b3e6f url(dot-luv/images/ui-bg_diagonals-thick_15_0b3e6f_40x40.png) 50% 50% repeat;
    color: #f6f6f6;
    width: 96px;
}
#tabsCell
{
    background-color: #2b81af;
    box-sizing:border-box;
    border: 5px inset #0d3349;
    padding-right: 9px;
}
#buttonRow
{
    box-sizing:border-box;
    border: 5px inset #0d3349;
    background: #0b3e6f url(dot-luv/images/ui-bg_diagonals-thick_15_0b3e6f_40x40.png) 50% 50% repeat;
    color: #f6f6f6;
    height: 32px;
}
.buttonCell
{
    padding: 0px 4px 0px 4px;
    margin: 0px;
    min-height: 32px;
}

#imageBox
{
    position: relative;
    top: 0px;
    width: 96px;
    height: 96px;
    -webkit-user-drag: none;
}
.button
{
    width: 100%;
    height: 100%;
    padding: 0;
}

#tabContainer
{
    width: 100%;
    height: 100%;
}

.ui-tabs .ui-tabs-panel
{
    padding: 0px;
    margin: 0px;
}

.tab
{
    padding: 8px 0px 8px 0px;
    height: 100%;
}

.textBoxMessage
{
    border: 3px inset #0d3349;
    background: #0b3e6f;
    width: 100%;
    height: 100%;
    color: #ffffff;
    resize: none;
}



